* {
	position: absolute;
	display: block;
	margin: 0px;
}

.debug {
	border: dotted black thin;
}

title {
	display:none;
}

.dialog {
	border: dashed green thin;
}

.text, .led, .button, .field {
	overflow: hidden ! important;
}

.pict {
	padding: 2px;
	border: inset black thin;
	background-repeat: no-repeat;
	background-position: center;
}

.pict.dlog {
	width: 36px;
	height: 36px;
}

.pict.ter , .pict.teranim , .pict.item ,
.pict.monst , .pict.field , .pict.boom ,
.pict.pc {
	width: 28px;
	height: 36px;
}

.pict.scen , .pict.talk {
	width: 32px;
	height: 32px;
}

.pict.missile {
	width: 18px;
	height: 18px;
}

.pict.scen.large {
	width: 64px;
	height: 64px;
}

.pict.dlog.large {
	width: 72px;
	height: 72px;
}

.pict.status {
	width: 12px;
	height: 12px;
}

.pict.map {
	width: 24px;
	height: 24px;
}

.button , .led {
	padding: 0px;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	font-size: 12px;
	font-family: Silom;
	vertical-align: middle;
	padding-top: 6px;
}

.button.small {
	width: 23px;
	height: 23px;
}

.button.regular , .button.left , .button.right ,
.button.up , .button.down , .button.done {
	width: 63px;
	height: 23px;
}

.button.large {
	width: 102px;
	height: 23px;
}

.button.help {
	width: 16px;
	height: 13px;
}

.button.tiny , .led {
	min-width: 14px;
	height: 10px;
	text-align: left;
	background-position: left center;
	padding-left: 18px;
	padding-top: 0px;
	padding-bottom: 5px;
	font-family: Geneva;
	font-size: 10px;
}

.button.tall , .button.trait {
	width: 63px;
	height: 40px;
	padding-top: 22px;
}

.button.push {
	min-width: 30px;
	height: 30px;
	background-position: top center;
	padding-top: 30px;
}

.field {
	padding: 2px;
	border: solid black thin;
}

.field-inner {	
	background-color:white;
}

.text {
	font-size: 10px;
	font-family: Silom;
	line-height: 12px;
}

.text.framed {
	padding: 2px;
	border: inset thin black;
}

.text.large {
	font-size: 12px;
}

.text.plain {
	font-family: Geneva;
}