#define WAVE	100

1 WAVE "sounds/snd0.wav"
2 WAVE "sounds/snd1.wav"
3 WAVE "sounds/snd2.wav"
4 WAVE "sounds/snd3.wav"
5 WAVE "sounds/snd4.wav"
6 WAVE "sounds/snd5.wav"
7 WAVE "sounds/snd6.wav"
8 WAVE "sounds/snd7.wav"
9 WAVE "sounds/snd8.wav"
10 WAVE "sounds/snd9.wav"
11 WAVE "sounds/snd10.wav"
12 WAVE "sounds/snd11.wav"
13 WAVE "sounds/snd12.wav"
14 WAVE "sounds/snd13.wav"
15 WAVE "sounds/snd14.wav"
16 WAVE "sounds/snd15.wav"
17 WAVE "sounds/snd16.wav"
18 WAVE "sounds/snd17.wav"
19 WAVE "sounds/snd18.wav"
20 WAVE "sounds/snd19.wav"
21 WAVE "sounds/snd20.wav"
22 WAVE "sounds/snd21.wav"
23 WAVE "sounds/snd22.wav"
24 WAVE "sounds/snd23.wav"
25 WAVE "sounds/snd24.wav"
26 WAVE "sounds/snd25.wav"
27 WAVE "sounds/snd26.wav"
28 WAVE "sounds/snd27.wav"
29 WAVE "sounds/snd28.wav"
30 WAVE "sounds/snd29.wav"
31 WAVE "sounds/snd30.wav"
32 WAVE "sounds/snd31.wav"
33 WAVE "sounds/snd32.wav"
34 WAVE "sounds/snd33.wav"
35 WAVE "sounds/snd34.wav"
36 WAVE "sounds/snd35.wav"
37 WAVE "sounds/snd36.wav"
38 WAVE "sounds/snd37.wav"
39 WAVE "sounds/snd38.wav"
40 WAVE "sounds/snd39.wav"
41 WAVE "sounds/snd40.wav"
42 WAVE "sounds/snd41.wav"
43 WAVE "sounds/snd42.wav"
44 WAVE "sounds/snd43.wav"
45 WAVE "sounds/snd44.wav"
46 WAVE "sounds/snd45.wav"
47 WAVE "sounds/snd46.wav"
48 WAVE "sounds/snd47.wav"
49 WAVE "sounds/snd48.wav"
50 WAVE "sounds/snd49.wav"
51 WAVE "sounds/snd50.wav"
52 WAVE "sounds/snd51.wav"
53 WAVE "sounds/snd52.wav"
54 WAVE "sounds/snd53.wav"
55 WAVE "sounds/snd54.wav"
56 WAVE "sounds/snd55.wav"
57 WAVE "sounds/snd56.wav"
58 WAVE "sounds/snd57.wav"
59 WAVE "sounds/snd58.wav"
60 WAVE "sounds/snd59.wav"
61 WAVE "sounds/snd60.wav"
62 WAVE "sounds/snd61.wav"
63 WAVE "sounds/snd62.wav"
64 WAVE "sounds/snd63.wav"
65 WAVE "sounds/snd64.wav"
66 WAVE "sounds/snd65.wav"
67 WAVE "sounds/snd66.wav"
68 WAVE "sounds/snd67.wav"
69 WAVE "sounds/snd68.wav"
70 WAVE "sounds/snd69.wav"
71 WAVE "sounds/snd70.wav"
72 WAVE "sounds/snd71.wav"
73 WAVE "sounds/snd72.wav"
74 WAVE "sounds/snd73.wav"
75 WAVE "sounds/snd74.wav"
76 WAVE "sounds/snd75.wav"
77 WAVE "sounds/snd76.wav"
78 WAVE "sounds/snd77.wav"
79 WAVE "sounds/snd78.wav"
80 WAVE "sounds/snd79.wav"
81 WAVE "sounds/snd80.wav"
82 WAVE "sounds/snd81.wav"
83 WAVE "sounds/snd82.wav"
84 WAVE "sounds/snd83.wav"
85 WAVE "sounds/snd84.wav"
86 WAVE "sounds/snd85.wav"
87 WAVE "sounds/snd86.wav"
88 WAVE "sounds/snd87.wav"
89 WAVE "sounds/snd88.wav"
90 WAVE "sounds/snd89.wav"
91 WAVE "sounds/snd90.wav"
92 WAVE "sounds/snd91.wav"
93 WAVE "sounds/snd92.wav"
94 WAVE "sounds/snd93.wav"
95 WAVE "sounds/snd94.wav"
96 WAVE "sounds/snd95.wav"
97 WAVE "sounds/snd96.wav"
98 WAVE "sounds/snd97.wav"
99 WAVE "sounds/snd98.wav"
100 WAVE "sounds/snd99.wav"
