[submodule "deps/Catch2"]
	path = deps/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "deps/TGUI"]
	path = deps/TGUI
	url = https://github.com/texus/TGUI.git
	branch = 0.9
[submodule "deps/cppcodec"]
	path = deps/cppcodec
	url = https://github.com/tplgy/cppcodec
[submodule "deps/fix-rpaths"]
	path = deps/fix-rpaths
	url = https://gist.github.com/NQNStudios/7145bcf6621891f5176c8caa165d6b93
[submodule "rsrc/scenarios/custom"]
	path = rsrc/scenarios/custom
	url = https://github.com/NQNStudios/cboe-scenarios
