# Compiled Object files
*.slo
*.lo
*.o
*.res

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# Win32 Code::Blocks directories and trash
Win32/*/bin
Win32/*/obj
*.layout
*.depend
*blades.ini

.config.vars

# XCode Junk Files
src/*.xcodeproj/xcuserdata
src/*.xcodeproj/*.xcworkspace/xcuserdata
src/*.xcodeproj/*.mode*
src/*.xcodeproj/*.pbxuser

# Visual Studio Junk Files
src/*.vsproj/*sdf
src/*.vsproj/*/*.user
src/*.vsproj/*.suo
src/*.vsproj/*.aps
src/*.vsproj/*/*.aps
src/*.vsproj/*/Debug/
src/*.vsproj/*/Release/
src/*.vsproj/Debug/
src/*.vsproj/Release/
src/*.vsproj/*/ipch/
# Output files to work around VS's lack of output within the IDE
bladeslog.txt

# Shader Builder projects
# It's an sqlite3 database and not particularly important, so exclude it
src/tools/*.sbproj

# Doxygen stuff
src/doxy/html/
src/doxy/doxy_warnings.txt

# Windows junk files
Thumbs.db

# Misc
oldstructs.txt
