body {
  background-image: url("../img/background.gif");

}

p {
	text-indent: 20px;
}

span.s1 {
  text-decoration: underline
}

img {
border: 0px;
}

span.key { /* Just to make things easier to read */
  background-color: #F1F2EC;
  width: 32px;
  border-style: outset;
  border-width: 1px;
  margin:0;
  padding:0 2px;
  clear:none;
  font-family:monospace;
  border-radius: 3px;
}

.figure {
  float:right;
  border:1px dashed #444444;
}
.navbar {
  position: relative;
  left: 1em;
  width: 9em;
  top: 1em
}
.content {
  position:absolute;
  left: 12em;
  right: 2em;
  top: 1em
}

dt {
	font-weight: bold;
	margin-top: 0px;
}

dd dl {
	margin-top: 0px;
	margin-bottom: 0px;
}

dd dt {
	font-weight: normal;
	font-style: italic;
}
