/****************************************************************************


EXILE.RC

produced by Borland Resource Workshop


*****************************************************************************/
#include <windows.h>
#define DIALOG_3	3
#define CURSOR_1	1
#define WAVE	100
#define DIALOG_2	2
#define DIALOG_1	1
#define ACCELERATORS_1	1
#define MENU_2	2
#define MENU_1	1
#define Exile	1

Exile MENU
{
 POPUP "&File"
 {
  MENUITEM "&Open Game\tCtrl+O", 2
  MENUITEM "&Save Game\tCtrl+S", 1
  MENUITEM "Save As...", 3
  MENUITEM SEPARATOR
  MENUITEM "&Quit\tCtrl+Q", 4
 }

 POPUP "&Scenario Editing"
 {

  MENUITEM "Edit Day", 70
  MENUITEM SEPARATOR
  MENUITEM "Leave Town", 44
  MENUITEM "Make Towns Forget You", 48
  MENUITEM "Add All Town Maps", 72
  MENUITEM "Add All Outdoor Maps", 71
  MENUITEM SEPARATOR
  MENUITEM "Remove Party From Scenario", 55
 }

 POPUP "&Edit Party"
 {
  MENUITEM "Edit Gold", 41
  MENUITEM "Edit Food", 42
  MENUITEM "Edit Alchemy", 62
  MENUITEM SEPARATOR
  MENUITEM "Heal Damage", 51
  MENUITEM "Restore Spell Points", 52
  MENUITEM "Raise Dead, Destone, etc.", 53
  MENUITEM "Remove Bad Conditions", 54
  MENUITEM SEPARATOR
  MENUITEM "Reunite Party", 45
  MENUITEM "Own All Boats/Horses", 63


 }

 POPUP "&I1"
 {
  MENUITEM "None", 1000
 }
 POPUP "&I2"
 {
  MENUITEM "None", 1001
 }
 POPUP "&I3"
 {
  MENUITEM "None", 1002
 }
 POPUP "&I4"
 {
  MENUITEM "None", 1003
 }
 POPUP "&I5"
 {
  MENUITEM "None", 1004
 }
 POPUP "&I6"
 {
  MENUITEM "None", 1005
 }
 POPUP "&I7"
 {
  MENUITEM "None", 1006
 }
 POPUP "&I8"
 {
  MENUITEM "None", 1007
 }
 POPUP "&I9"
 {
  MENUITEM "None", 1008
 }
  POPUP "&I10"
 {
  MENUITEM "None", 1009
 }

 POPUP "&Help"
 {
  MENUITEM "Index\tF1", 100
  MENUITEM SEPARATOR
  MENUITEM "About Blades of Exile Editor", 200
 }

}

ACCELERATORS_1 ACCELERATORS
{

 "^O", 2, ASCII
 "^S", 1, ASCII
 "^Q", 4, ASCII
}

120 CURSOR "Resources/sword.cur"


10 ICON "Resources/BLADEXIL.ICO"


1 WAVE "Resources/snd0.wav"
2 WAVE "Resources/snd1.wav"
4 WAVE "Resources/snd3.wav"
35 WAVE "Resources/snd34.wav"
38 WAVE "Resources/snd37.wav"

STRINGTABLE
{
 2101, "Light"
 2103, "Spark"
 2105, "Minor Haste"
 2107, "Strength"
 2109, "Scare"
 2111, "Flame Cloud"
 2113, "Identify"
 2115, "Scry Monster"
 2117, "Goo"
 2119, "True Sight"
 2121, "Minor Poison"
 2123, "Flame"
 2125, "Slow"
 2127, "Dumbfound"
 2129, "Envenom"
 2131, "Stinking Cloud"
 2133, "Summon Beast"
 2135, "Conflagration"
 2137, "Dispel Fields"
 2139, "Sleep Cloud"
 2141, "Unlock Doors"
 2143, "Haste"
 2145, "Fireball"
 2147, "Long Light"
 2149, "Fear"
 2151, "Wall of Force"
 2153, "Weak Summoning"
 2155, "Flame Arrows"
 2157, "Web"
 2159, "Resist Magic"
 2161, "Poison"
 2163, "Ice Bolt"
 2165, "Slow Group"
 2167, "Magic Map"
 2169, "Capture Soul"
 2171, "Simulacrum"
 2173, "Venom Arrows"
 2175, "Wall of Ice"
 2177, "Stealth"
 2179, "Major Haste"
 2181, "Fire Storm"
 2183, "Dispel Barrier"
 2185, "Fire Barrier"
 2187, "Summoning"
 2189, "Shockstorm"
 2191, "Spray Fields"
 2193, "Major Poison"
 2195, "Group Fear"
 2197, "Kill"
 2199, "Paralyze"
 2201, "Daemon"
 2203, "Antimagic Cloud"
 2205, "Mindduel"
 2207, "Flight"
 2209, "Shockwave"
 2211, "Major Blessing"
 2213, "Mass Paralysis"
 2215, "Protection"
 2217, "Major Summoning"
 2219, "Force Barrier"
 2221, "Quickfire"
 2223, "Death Arrows"
 2401, "Minor Bless"
 2403, "Minor Heal"
 2405, "Weaken Poison"
 2407, "Turn Undead"
 2409, "Location"
 2411, "Sanctuary"
 2413, "Symbiosis"
 2415, "Minor Manna"
 2417, "Ritual - Sanctify"
 2419, "Stumble"
 2421, "Bless"
 2423, "Cure Poison"
 2425, "Curse"
 2427, "Light"
 2429, "Wound"
 2431, "Summon Spirit"
 2433, "Move Mountains"
 2435, "Charm Foe"
 2437, "Disease"
 2439, "Awaken"
 2441, "Heal"
 2443, "Light Heal All"
 2445, "Holy Scourge"
 2447, "Detect Life"
 2449, "Cure Paralysis"
 2451, "Manna"
 2453, "Forcefield"
 2455, "Cure Disease"
 2457, "Restore Mind"
 2459, "Smite"
 2461, "Cure All Poison"
 2463, "Curse All"
 2465, "Dispel Undead"
 2467, "Remove Curse"
 2469, "Sticks to Snakes"
 2471, "Martyr's Shield"
 2473, "Cleanse"
 2475, "Firewalk"
 2477, "Bless Party"
 2479, "Major Heal"
 2481, "Raise Dead"
 2483, "Flamestrike"
 2485, "Mass Sanctuary"
 2487, "Summon Host"
 2489, "Shatter"
 2491, "Dispel Fields"
 2493, "Heal All"
 2495, "Revive"
 2497, "Hyperactivity"
 2499, "Destone"
 2501, "Summon Guardian"
 2503, "Mass Charm"
 2505, "Protective Circle"
 2507, "Pestilence"
 2509, "Revive All"
 2511, "Ravage Spirit"
 2513, "Resurrect"
 2515, "Divine Thud"
 2517, "Avatar"
 2519, "Wall of Blades"
 2521, "Word of Recall"
 2523, "Major Cleansing"
 2701, "Strength"
 2703, "Dexterity"
 2705, "Intelligence"
 2707, "Edged Weapons"
 2709, "Bashing Weap."
 2711, "Pole Weapons"
 2713, "Thrown Missiles"
 2715, "Archery"
 2717, "Defense"
 2719, "Mage Spells"
 2721, "Priest Spells"
 2723, "Mage Lore"
 2725, "Alchemy"
 2727, "Item Lore"
 2729, "Disarm Traps"
 2731, "Lockpicking"
 2733, "Assassination"
 2735, "Poison"
 2737, "Luck"
 6001, "All of your character's damage has now been healed. Dead characters are still dead."
 6002, "All of your characters (even dead ones) now have their maximum number of spell points."
 6003, "All of your characters who were dead (or dust, or stoned) are now alive and intact. You may wish to select Heal Party now."
 6004, "All negative conditions (poison, dumbfounding, disease, paralysis, etc.) have been removed from your characters (even dead ones)."
 6005, "Before you can do this, you need to load in a Blades of Exile save file. Select Open from the file menu."
 6006, "All boats and horses are now your property."
 6013, "Your party now has the complete maps for the outdoors of your current scenario."
 6014, "Your party now has the complete maps for the towns in your current scenario."
 6020, "Your save file no longer contains information on the towns you've visited. Monsters have reappeared, angry guards have forgotten you, etc. Note, if you are in town now, the game will still remember what happened in this town."
 6025, "You can only use this feature if the current party is in a scenario."
}


901 DIALOG 10, 10, 332, 74
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_63", 1, 252, 52, 58, 20
     LTEXT "5_708", 2, 8, 8, 36, 36
     LTEXT "Your party will now be outdoors.|Things you have done in the town will not be remembered.", 3, 52, 3, 257, 44
     }

/*907 DIALOG 10, 10, 400, 142 //<= future return to start message ?
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_65", 1, 299, 113, 58, 20
     LTEXT "0_64", 2, 231, 113, 58, 20
     LTEXT "5_708", 3, 9, 9, 36, 36
     LTEXT "This option moves your party to just outside the town you started the scenario in. Be careful that you aren't getting yourself stuck in doing this, by, for example, leaving a boat in a place where you can't get back to it.", 4, 51, 4, 305, 66
     LTEXT "Saving a backup copy of the save file before using this option is recommended. Are you sure you want to do this?", 5, 51, 71, 306, 40
     }*/

908 DIALOG 10, 10, 328, 70
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_63", 1, 255, 37, 58, 20
     LTEXT "5_708", 2, 8, 8, 36, 36
     LTEXT "You cannot use this option while the party is indoors, in a boat, or on a horse.", 3, 52, 3, 261, 32
     }

909 DIALOG 10, 10, 328, 72
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_63", 1, 251, 49, 58, 20
     LTEXT "5_708", 2, 8, 8, 36, 36
     LTEXT "You cannot use this option while the party is split up. Select Reunite party from this menu.", 3, 52, 3, 256, 44
     }

910 DIALOG 10, 10, 344, 110
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_63", 1, 261, 86, 58, 20
     LTEXT "5_708", 2, 8, 8, 36, 36
     LTEXT "Your party is now reunited. You are located where you were when you split up. Warning - doing this can trap your party if you didn't do something you needed to do while split up. Be sure to back up your save file before saving this change.", 3, 52, 3, 266, 80
     }

911 DIALOG 10, 10, 316, 48
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_63", 1, 246, 25, 58, 20
     LTEXT "5_708", 2, 8, 8, 36, 36
     LTEXT "Your party is not split up!", 3, 52, 3, 252, 16
     }

912 DIALOG 10, 10, 400, 142
STYLE WS_POPUP | WS_DLGFRAME
{
 LTEXT "1_64", 1, 299, 105, 58, 20
 LTEXT "0_65", 2, 231, 105, 58, 20
 LTEXT "5_708", 3, 9, 9, 36, 36
 LTEXT "Selecting this option removes your party from the scenario they're currently in. All of their progress in that adventure is forgotten ... if you want to play it again, you will need to start over from the very beginning. Are you sure you want to do this?", 4, 51, 4, 305, 84
}

915 DIALOG 10, 10, 336, 110
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_65", 1, 246, 88, 58, 20
     LTEXT "0_64", 2, 178, 88, 58, 20
     LTEXT "5_708", 3, 9, 9, 36, 36
     LTEXT "This will reset all boats and horses to their original positions. Whether you own them or not will remain unchanged. Be careful when using this that you don't strand yourself on an island somewhere! Go ahead?", 4, 51, 4, 253, 82
     }

917 DIALOG 10, 10, 352, 172
STYLE WS_POPUP | WS_DLGFRAME
{
 LTEXT "6_0", 2, 133, 36, 99, 26
 LTEXT "5_702", 3, 8, 8, 36, 36
 LTEXT "~What day would you like it to be?", 4, 49, 8, 255, 16
 LTEXT "1_63", 5, 243, 153, 75, 16
 LTEXT "Warning: Changing the day can have dramatically unexpected effects. Towns will reappear. People will be shifted around. The time limits on your jobs may expire. Back up your save file before doing this.", 6, 51, 72, 268, 79
}

947 DIALOG 10, 10, 282, 97
STYLE WS_POPUP | WS_DLGFRAME
{
 LTEXT "6_0", 2, 133, 36, 91, 26
 LTEXT "5_702", 3, 8, 8, 36, 36
 LTEXT "~How much food do you want?", 4, 49, 8, 209, 17
 LTEXT "1_63", 5, 184, 74, 75, 16
}

970 DIALOG 10, 10, 346, 167
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_0", 1, 251, 107, 70, 20
     LTEXT "0_68", 2, 8, 107, 70, 20
     LTEXT "5_708", 3, 9, 9, 36, 36
     LTEXT "= ", 4, 55, 8, 257, 90
     }

971 DIALOG 10, 10, 347, 240
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_0", 1, 248, 212, 70, 20
     LTEXT "0_68", 2, 6, 212, 70, 20
     LTEXT "5_708", 3, 9, 9, 36, 36
     LTEXT "= ", 4, 55, 8, 257, 91
     LTEXT "= ", 5, 55, 107, 257, 98
     }

972 DIALOG 10, 10, 350, 164
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_0", 1, 247, 140, 70, 20
     LTEXT "0_68", 2, 8, 140, 70, 20
     LTEXT "5_708", 3, 9, 9, 36, 36
     LTEXT "= ", 4, 53, 38, 257, 92
     LTEXT "*", 5, 26, 74, 14, 19
     LTEXT "+", 6, 53, 9, 257, 19
     }

973 DIALOG 10, 10, 347, 264
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_0", 1, 253, 238, 70, 20
     LTEXT "0_68", 2, 9, 238, 70, 20
     LTEXT "5_708", 3, 9, 9, 36, 36
     LTEXT "= ", 4, 55, 39, 257, 87
     LTEXT "= ", 5, 55, 136, 257, 93
     LTEXT "+", 6, 55, 9, 257, 19
     }

991 DIALOG 10, 10, 514, 338
STYLE WS_POPUP | WS_DLGFRAME
{
 LTEXT "5_714", 2, 6, 6, 36, 36
 LTEXT "2_0", 3, 102, 57, 14, 10
 LTEXT "2_0", 4, 102, 69, 14, 10
 LTEXT "2_0", 5, 102, 81, 14, 10
 LTEXT "2_0", 6, 102, 93, 14, 10
 LTEXT "2_0", 7, 102, 105, 14, 10
 LTEXT "2_0", 8, 102, 117, 14, 10
 LTEXT "2_0", 9, 102, 129, 14, 10
 LTEXT "2_0", 10, 102, 141, 14, 10
 LTEXT "2_0", 11, 102, 153, 14, 10
 LTEXT "2_0", 12, 102, 165, 14, 10
 LTEXT "2_0", 13, 220, 57, 14, 10
 LTEXT "2_0", 14, 220, 69, 14, 10
 LTEXT "2_0", 15, 220, 81, 14, 10
 LTEXT "2_0", 16, 220, 93, 14, 10
 LTEXT "2_0", 17, 220, 105, 14, 10
 LTEXT "2_0", 18, 220, 117, 14, 10
 LTEXT "2_0", 19, 220, 129, 14, 10
 LTEXT "2_0", 20, 220, 141, 14, 10
 LTEXT "2_0", 21, 220, 153, 14, 10
 LTEXT "2_0", 22, 220, 165, 14, 10
 LTEXT "2_0", 23, 338, 57, 14, 10
 LTEXT "2_0", 24, 338, 69, 14, 10
 LTEXT "2_0", 25, 338, 81, 14, 10
 LTEXT "2_0", 26, 338, 93, 14, 10
 LTEXT "2_0", 27, 338, 105, 14, 10
 LTEXT "2_0", 28, 338, 117, 14, 10
 LTEXT "2_0", 29, 338, 129, 14, 10
 LTEXT "2_0", 30, 338, 141, 14, 10
 LTEXT "2_0", 31, 338, 153, 14, 10
 LTEXT "2_0", 32, 338, 165, 14, 10
 LTEXT "2_0", 33, 456, 57, 14, 10
 LTEXT "2_0", 34, 456, 69, 14, 10
 LTEXT "2_0", 35, 456, 81, 14, 10
 LTEXT "2_0", 36, 456, 93, 14, 10
 LTEXT "2_0", 37, 456, 105, 14, 10
 LTEXT "2_0", 38, 456, 117, 14, 10
 LTEXT "2_0", 39, 456, 129, 14, 10
 LTEXT "2_0", 40, 456, 141, 14, 10
 LTEXT "2_0", 41, 102, 188, 14, 10
 LTEXT "2_0", 42, 102, 200, 14, 10
 LTEXT "2_0", 43, 102, 212, 14, 10
 LTEXT "2_0", 44, 102, 224, 14, 10
 LTEXT "2_0", 45, 102, 236, 14, 10
 LTEXT "2_0", 46, 102, 248, 14, 10
 LTEXT "2_0", 47, 102, 260, 14, 10
 LTEXT "2_0", 48, 102, 272, 14, 10
 LTEXT "2_0", 49, 220, 188, 14, 10
 LTEXT "2_0", 50, 220, 200, 14, 10
 LTEXT "2_0", 51, 220, 212, 14, 10
 LTEXT "2_0", 52, 220, 224, 14, 10
 LTEXT "2_0", 53, 220, 236, 14, 10
 LTEXT "2_0", 54, 220, 248, 14, 10
 LTEXT "2_0", 55, 220, 260, 14, 10
 LTEXT "2_0", 56, 220, 272, 14, 10
 LTEXT "2_0", 57, 338, 188, 14, 10
 LTEXT "2_0", 58, 338, 200, 14, 10
 LTEXT "2_0", 59, 338, 212, 14, 10
 LTEXT "2_0", 60, 338, 224, 14, 10
 LTEXT "2_0", 61, 338, 236, 14, 10
 LTEXT "2_0", 62, 338, 248, 14, 10
 LTEXT "2_0", 63, 338, 260, 14, 10
 LTEXT "2_0", 64, 338, 272, 14, 10
 LTEXT "1_0", 65, 422, 310, 63, 23
 LTEXT "0_2", 66, 12, 310, 63, 23
 LTEXT "0_3", 67, 79, 310, 64, 23
 LTEXT "~Spells For:", 68, 53, 15, 83, 16
 LTEXT "+", 69, 146, 15, 186, 16
}

996 DIALOG 10, 10, 461, 206
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "~Alchemy known:", 1, 54, 10, 163, 15
     LTEXT "5_720", 2, 6, 6, 36, 36
     LTEXT "1_0", 3, 356, 174, 63, 23
     LTEXT "2_0", 4, 217, 33, 14, 10
     LTEXT "2_0", 5, 217, 47, 14, 10
     LTEXT "2_0", 6, 217, 61, 14, 10
     LTEXT "2_0", 7, 217, 75, 14, 10
     LTEXT "2_0", 8, 217, 89, 14, 10
     LTEXT "2_0", 9, 217, 103, 14, 10
     LTEXT "2_0", 10, 217, 117, 14, 10
     LTEXT "2_0", 11, 217, 131, 14, 10
     LTEXT "2_0", 12, 217, 145, 14, 10
     LTEXT "2_0", 13, 217, 159, 14, 10
     LTEXT "2_0", 14, 402, 33, 14, 10
     LTEXT "2_0", 15, 402, 47, 14, 10
     LTEXT "2_0", 16, 402, 61, 14, 10
     LTEXT "2_0", 17, 402, 75, 14, 10
     LTEXT "2_0", 18, 402, 89, 14, 10
     LTEXT "2_0", 19, 402, 103, 14, 10
     LTEXT "2_0", 20, 402, 117, 14, 10
     LTEXT "2_0", 21, 402, 131, 14, 10
     LTEXT "2_0", 22, 402, 145, 14, 10
     LTEXT "2_0", 23, 402, 159, 14, 10
     LTEXT "Number in ( ) is minimum skill to make.", 24, 8, 179, 199, 16
     }

998 DIALOG 10, 10, 330, 327
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "5_0", 1, 8, 9, 28, 36
     LTEXT "~Item Info:", 2, 45, 6, 102, 16
     LTEXT "+", 3, 101, 33, 141, 16
     LTEXT "+", 4, 58, 61, 141, 16
     LTEXT "+", 5, 245, 61, 47, 16
     LTEXT "+", 6, 58, 89, 25, 15
     LTEXT "+", 7, 146, 89, 25, 15
     LTEXT "+", 8, 231, 89, 25, 15
     LTEXT "+", 9, 65, 117, 25, 16
     LTEXT "+", 10, 138, 118, 26, 16
     LTEXT "+", 11, 255, 118, 25, 16
     LTEXT "+", 12, 61, 168, 230, 16
     LTEXT "1_0", 13, 232, 307, 63, 23
     LTEXT "0_2", 14, 88, 307, 63, 23
     LTEXT "0_3", 15, 157, 307, 63, 23
     LTEXT "2_0", 16, 213, 8, 14, 10
     LTEXT "2_0", 17, 280, 8, 14, 10
     LTEXT "~Description:", 18, 8, 192, 102, 16
     LTEXT "=", 19, 8, 210, 286, 87
     LTEXT "+", 20, 60, 142, 44, 15
     }

1010 DIALOG 10, 10, 570, 391
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "~Main statistics:", 1, 38, 99, 133, 17
     LTEXT "~Training For:", 2, 56, 8, 110, 16
     LTEXT "0_7", 3, 231, 53, 23, 20
     LTEXT "0_6", 4, 256, 53, 23, 20
     LTEXT "0_7", 5, 231, 75, 23, 20
     LTEXT "0_6", 6, 256, 75, 23, 20
     LTEXT "0_7", 7, 231, 119, 23, 20
     LTEXT "0_6", 8, 256, 119, 23, 20
     LTEXT "0_7", 9, 231, 141, 23, 20
     LTEXT "0_6", 10, 256, 141, 23, 20
     LTEXT "0_7", 11, 231, 163, 23, 20
     LTEXT "0_6", 12, 256, 163, 23, 20
     LTEXT "0_7", 13, 231, 204, 23, 20
     LTEXT "0_6", 14, 256, 204, 23, 20
     LTEXT "0_7", 15, 231, 226, 23, 20
     LTEXT "0_6", 16, 256, 226, 23, 20
     LTEXT "0_7", 17, 231, 248, 23, 20
     LTEXT "0_6", 18, 256, 248, 23, 20
     LTEXT "0_7", 19, 231, 270, 23, 20
     LTEXT "0_6", 20, 256, 270, 23, 20
     LTEXT "0_7", 21, 231, 292, 23, 20
     LTEXT "0_6", 22, 256, 292, 23, 20
     LTEXT "0_7", 23, 231, 314, 23, 20
     LTEXT "0_6", 24, 256, 314, 23, 20
     LTEXT "0_7", 25, 472, 74, 23, 20
     LTEXT "0_6", 26, 497, 74, 23, 20
     LTEXT "0_7", 27, 472, 96, 23, 20
     LTEXT "0_6", 28, 497, 96, 23, 20
     LTEXT "0_7", 29, 472, 118, 23, 20
     LTEXT "0_6", 30, 497, 118, 23, 20
     LTEXT "0_7", 31, 472, 140, 23, 20
     LTEXT "0_6", 32, 497, 140, 23, 20
     LTEXT "0_7", 33, 472, 162, 23, 20
     LTEXT "0_6", 34, 497, 162, 23, 20
     LTEXT "0_7", 35, 472, 206, 23, 20
     LTEXT "0_6", 36, 497, 206, 23, 20
     LTEXT "0_7", 37, 472, 228, 23, 20
     LTEXT "0_6", 38, 497, 228, 23, 20
     LTEXT "0_7", 39, 472, 250, 23, 20
     LTEXT "0_6", 40, 497, 250, 23, 20
     LTEXT "0_7", 41, 472, 272, 23, 20
     LTEXT "0_6", 42, 497, 272, 23, 20
     LTEXT "0_7", 43, 472, 294, 23, 20
     LTEXT "0_6", 44, 497, 294, 23, 20
     LTEXT "5_707", 45, 6, 7, 36, 36
     LTEXT "", 46, 148, 344, 75, 16
     LTEXT "", 47, 300, 344, 75, 16
     LTEXT "0_4", 48, 403, 355, 63, 25
     LTEXT "0_2", 49, 403, 329, 63, 23
     LTEXT "0_3", 50, 470, 329, 63, 23
     LTEXT "", 51, 177, 8, 166, 16
     LTEXT "", 52, 194, 56, 28, 15
     LTEXT "", 53, 194, 77, 28, 15
     LTEXT "", 54, 194, 121, 28, 15
     LTEXT "", 55, 194, 143, 28, 15
     LTEXT "", 56, 194, 165, 28, 15
     LTEXT "", 57, 194, 207, 28, 15
     LTEXT "", 58, 194, 229, 28, 15
     LTEXT "", 59, 194, 251, 28, 15
     LTEXT "", 60, 194, 272, 28, 15
     LTEXT "", 61, 194, 294, 28, 15
     LTEXT "", 62, 194, 316, 28, 15
     LTEXT "", 63, 435, 76, 28, 15
     LTEXT "", 64, 435, 98, 29, 15
     LTEXT "", 65, 435, 121, 29, 15
     LTEXT "", 66, 435, 142, 29, 15
     LTEXT "", 67, 435, 164, 29, 15
     LTEXT "", 68, 434, 208, 29, 15
     LTEXT "", 69, 434, 230, 29, 15
     LTEXT "", 70, 434, 252, 29, 15
     LTEXT "", 71, 434, 274, 29, 15
     LTEXT "", 72, 434, 296, 29, 15
     LTEXT "1_5", 73, 470, 355, 63, 25
     LTEXT "~Skill:                Cost: Level:", 74, 56, 32, 228, 16
     LTEXT "~Skill:                Cost: Level:", 75, 292, 32, 228, 16
     LTEXT "~Warrior Skills:", 76, 38, 185, 133, 17
     LTEXT "~Magic Skills:", 77, 292, 53, 133, 17
     LTEXT "~Other Skills:", 78, 292, 185, 133, 17
     LTEXT "*Cost: (Skill pts./Gold)  ", 79, 6, 365, 382, 16
     LTEXT "*Skill Pts.:", 80, 71, 344, 68, 16
     LTEXT "*Gold:", 81, 252, 344, 42, 16
     }

1012 DIALOG 10, 10, 290, 94
STYLE WS_POPUP | WS_DLGFRAME
{
 LTEXT "6_0", 2, 133, 36, 75, 24
 LTEXT "5_702", 3, 8, 8, 36, 36
 LTEXT "~How much gold do you want?", 4, 49, 8, 209, 17
 LTEXT "1_63", 5, 184, 74, 75, 16
}

1013 DIALOG 10, 10, 525, 379
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "~Special Characteristics:", 1, 55, 9, 181, 16
     LTEXT "5_707", 2, 6, 6, 36, 36
     LTEXT "1_0", 3, 423, 349, 63, 23
     LTEXT "2_0", 4, 161, 55, 14, 10
     LTEXT "2_0", 5, 289, 55, 14, 10
     LTEXT "2_0", 6, 447, 55, 14, 11
     LTEXT "2_0", 7, 215, 97, 14, 10
     LTEXT "2_0", 8, 215, 112, 14, 10
     LTEXT "2_0", 9, 215, 127, 14, 10
     LTEXT "2_0", 10, 215, 142, 14, 10
     LTEXT "2_0", 11, 215, 157, 14, 10
     LTEXT "2_0", 12, 416, 97, 14, 10
     LTEXT "2_0", 13, 416, 112, 14, 10
     LTEXT "2_0", 14, 416, 127, 14, 10
     LTEXT "2_0", 15, 416, 142, 14, 10
     LTEXT "2_0", 16, 416, 157, 14, 10
     LTEXT "~Species:", 17, 55, 30, 65, 18
     LTEXT "", 18, 254, 352, 50, 16
     LTEXT "=Select species and traits.", 19, 15, 282, 469, 59
     LTEXT "*Human (%0)", 20, 55, 53, 75, 15
     LTEXT "*Nephilim (%12)", 21, 186, 53, 75, 15
     LTEXT "*Slithzerikai (%20)", 22, 316, 53, 92, 15
     LTEXT "*Toughness (%10)", 23, 55, 95, 75, 15
     LTEXT "*Magically Apt. (%20)", 24, 55, 110, 75, 15
     LTEXT "*Ambidextrous (%8)", 25, 55, 125, 116, 15
     LTEXT "*Nimble Fingers (%10)", 26, 55, 140, 75, 15
     LTEXT "*Cave Lore (%4)", 27, 55, 155, 75, 15
     LTEXT "*Woodsman (%6)", 28, 236, 95, 126, 15
     LTEXT "*Sluggish (%-10)         ", 29, 55, 197, 116, 15
     LTEXT "*Magically Inept (%-8)       ", 30, 55, 212, 75, 15
     LTEXT "*Frail (%-8)       ", 31, 55, 227, 75, 15
     LTEXT "*Chronic Disease (%-20)                   ", 32, 55, 242, 126, 15
     LTEXT "Experience needed to gain each level:", 33, 19, 352, 216, 16
     LTEXT "~Advantages", 34, 55, 74, 75, 16
     LTEXT "~Disadvantages", 35, 55, 178, 75, 16
     LTEXT "2_0", 36, 237, 198, 14, 10
     LTEXT "2_0", 37, 237, 213, 14, 10
     LTEXT "2_0", 38, 237, 228, 14, 10
     LTEXT "2_0", 39, 237, 243, 14, 10
     LTEXT "2_0", 40, 237, 258, 14, 10
     LTEXT "*Good Constitution (%10)", 41, 236, 110, 126, 15
     LTEXT "*Highly Alert (%7)", 42, 236, 125, 126, 15
     LTEXT "*Exceptional Strength (%12)", 43, 236, 140, 126, 15
     LTEXT "*Recuperation (%15)", 44, 236, 155, 126, 15
     LTEXT "*Bad Back (%-8)       ", 45, 55, 257, 126, 15
     LTEXT "Number in () is how much having that trait affects the experience you need to gain a level.", 46, 289, 223, 204, 43
     }

1018 DIALOG 10, 10, 311, 220
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "*Hit a button or type '1'-'6'.", 1, 11, 190, 184, 18
     LTEXT "5_706", 2, 8, 8, 36, 36
     LTEXT "0_11", 3, 69, 31, 58, 20
     LTEXT "0_12", 4, 69, 56, 58, 20
     LTEXT "0_13", 5, 69, 81, 58, 20
     LTEXT "0_14", 6, 69, 106, 58, 20
     LTEXT "0_15", 7, 69, 131, 58, 20
     LTEXT "0_16", 8, 69, 156, 58, 20
     LTEXT "+", 9, 138, 35, 139, 16
     LTEXT "+", 10, 138, 60, 139, 16
     LTEXT "+", 11, 138, 85, 139, 16
     LTEXT "+", 12, 138, 110, 139, 16
     LTEXT "+", 13, 138, 135, 139, 16
     LTEXT "+", 14, 138, 160, 139, 16
     LTEXT "~Select a PC:", 15, 49, 10, 228, 16
     LTEXT "1_5", 16, 214, 187, 63, 25
     }

1024 DIALOG 10, 10, 290, 183
STYLE WS_POPUP | WS_DLGFRAME
{
 LTEXT "6_0", 2, 99, 130, 129, 24
 LTEXT "5_702", 3, 8, 8, 36, 36
 LTEXT "~Enter how much experience you want this character to have. Note that the character will not gain any more levels until the character earns at least 1 point more point of experience in the game. The most you can give is 10000.", 4, 49, 8, 234, 58
 LTEXT "1_63", 5, 204, 165, 75, 16
 LTEXT "Experience for each level:", 7, 49, 106, 140, 14
 LTEXT "", 8, 201, 106, 84, 14
}

1049 DIALOG 10, 10, 338, 60
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_63", 1, 249, 30, 58, 20
     LTEXT "5_702", 2, 8, 8, 36, 36
     LTEXT "No room in your inventory.", 3, 52, 4, 255, 18
     }

1062 DIALOG 10, 10, 529, 298
STYLE WS_POPUP | WS_DLGFRAME
{
 LTEXT "1_63", 1, 434, 268, 61, 20
 LTEXT "5_716", 2, 6, 6, 36, 36
 LTEXT "Classic Blades of Exile Character Editor v1.2.0a ($Rev$) |Released under the GNU General Public License, version 2.", 3, 50, 6, 358, 34
 LTEXT "Comments and questions? Feel free to express yourself on the Spiderweb Software Message Board: www.spiderwebforums.com/forum/", 5, 50, 178, 354, 32
 LTEXT "Spiderweb Software web page: http://www.spidweb.com", 6, 60, 211, 354, 53
 LTEXT "The Blades of Exile Editor was originally created by Spiderweb Software - _Where our aberrations become your reality._ ||_Blades of Exile_ and Spiderweb Software are trademarks of Spiderweb Software.", 7, 50, 91, 410, 51
 LTEXT "ORIGINAL CREDITS: |   Concept, Design, Programming: Jeff Vogel |   Graphics: Andrew Hunter", 8, 50, 42, 416, 47
}

1063 DIALOG 10, 10, 324, 58
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_63", 1, 246, 31, 58, 20
     LTEXT "5_723", 2, 6, 6, 36, 36
     LTEXT "This is not a Blades of Exile save file.", 3, 50, 6, 254, 16
     }

1064 DIALOG 10, 10, 322, 68
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_63", 1, 245, 34, 58, 20
     LTEXT "5_723", 2, 6, 6, 36, 36
     LTEXT "Loading Blades of Exile save file failed.|", 3, 50, 6, 253, 19
     }

1066 DIALOG 10, 10, 336, 64
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_84", 1, 230, 31, 80, 20
     LTEXT "0_85", 2, 122, 31, 77, 20
     LTEXT "0_5", 3, 54, 31, 58, 20
     LTEXT "5_723", 4, 9, 9, 36, 36
     LTEXT "~Do you want to save before quitting?", 5, 52, 5, 254, 18
     }

1067 DIALOG 10, 10, 336, 78
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_84", 1, 233, 41, 80, 20
     LTEXT "0_105", 2, 125, 41, 77, 20
     LTEXT "0_5", 3, 57, 41, 58, 20
     LTEXT "5_723", 4, 9, 9, 36, 36
     LTEXT "~Do you want to save before opening a new file?", 5, 52, 5, 262, 33
     }

1069 DIALOG 10, 10, 322, 68
     STYLE WS_POPUP | WS_DLGFRAME
     {
     LTEXT "1_63", 1, 245, 34, 58, 20
     LTEXT "5_723", 2, 6, 6, 36, 36
     LTEXT "Saving Blades of Exile save file failed.|", 3, 50, 6, 253, 19
     }

900 DIALOG 13, 16, 334, 220
STYLE WS_POPUP | WS_DLGFRAME
{
 LTEXT "1_63", 1, 270, 197, 58, 20
 LTEXT "5_708", 2, 8, 8, 36, 36
 LTEXT "WELCOME TO THE BLADES OF EXILE EDITOR!", 3, 52, 3, 257, 18
 LTEXT "The Blades of Exile Editor is a utility designed to make your life easier when you get stuck playing Blades of Exile. Before leaping in, however, two warnings:", 4, 52, 26, 257, 54
 LTEXT "First, always back up a save file before using the editor. If you do something wrong or take yourself out of the scenario, you may lose valuable progress.", 5, 52, 88, 257, 50
 LTEXT "Second, the Editor and the game itself use some of the same files. It is recommended that you not run both at the same time - crashes may result.", 6, 52, 147, 257, 36
}
