# Folder local settings are ignored.
# Settings that should be checked in should go in the workspace file.
.vscode/settings.json
# This is needed to make the build system machine-independent.
vswhere.exe
