<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>boesounds</string>
			<key>CFBundleTypeName</key>
			<string>Sounds</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>beSN</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.meg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>boegraphics</string>
			<key>CFBundleTypeName</key>
			<string>Graphics</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>beGR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.exg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>boesave</string>
			<key>CFBundleTypeName</key>
			<string>SavedGame</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>beSV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>.exs</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>boescenario</string>
			<key>CFBundleTypeName</key>
			<string>Scenario</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BETM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>BoE</string>
	<key>CFBundleIdentifier</key>
	<string>com.spidweb.bladesofexile</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>blx!</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
</dict>
</plist>
