# XCode Junk Files
*.xcodeproj/xcuserdata
*.xcodeproj/*.xcworkspace/xcuserdata
*.xcodeproj/*.mode*
*.xcodeproj/*.pbxuser

# Shader Builder projects
# It's an sqlite3 database and not particularly important, so exclude it
*.sbproj