<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>SAV</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>boesave</string>
			<key>CFBundleTypeName</key>
			<string>LegacyWinSaveGame</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.spidweb.bladesofexile.oldwinsave</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>boe</string>
				<string>mac</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>boesave</string>
			<key>CFBundleTypeName</key>
			<string>LegacyMacSaveGame</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>beSV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.spidweb.bladesofexile.oldmacsave</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>boegraphics</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/x-bmp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>LegacyWinGraphics</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BMPf</string>
				<string>BMP</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.microsoft.bmp</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>boesave</string>
			<key>CFBundleTypeName</key>
			<string>Blades of Exile Saved Game</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>game</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.spidweb.bladesofexile.savegame</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exs</string>
				<string>boes</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>boescenario</string>
			<key>CFBundleTypeName</key>
			<string>Blades of Exile Scenario</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>BETM</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.spidweb.bladesofexile.scenario</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dlg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>boeresources</string>
			<key>CFBundleTypeName</key>
			<string>EncounterDialog</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.spidweb.bladesofexile.dialog</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>BoE</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0b1</string>
	<key>CFBundleSignature</key>
	<string>blx!</string>
	<key>CFBundleVersion</key>
	<string>2.0b1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.role-playing-games</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blades of Exile Scenario</string>
			<key>UTTypeIconFile</key>
			<string>boescenario</string>
			<key>UTTypeIdentifier</key>
			<string>com.spidweb.bladesofexile.scenario</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>BETM</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>exs</string>
					<string>boes</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
				<string>org.gnu.gnu-zip-tar-archive</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blades of Exile Saved Game</string>
			<key>UTTypeIconFile</key>
			<string>boesave</string>
			<key>UTTypeIdentifier</key>
			<string>com.spidweb.bladesofexile.savegame</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>beSV</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>exg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.resource-map</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blades of Exile Scenario Graphics</string>
			<key>UTTypeIconFile</key>
			<string>boegraphics</string>
			<key>UTTypeIdentifier</key>
			<string>com.spidweb.bladesofexile.oldgraphics</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>meg</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
